html, body, .app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ede9bb;
}

#list-card {
  width: 60%;
  margin: auto;
  margin-top: 50px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.05);
}

.list-item, ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.list-item {
  border-top: 1px solid gray;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 5px;
}

.list-add {
  border-bottom: 1px solid gray;
}

.list-item:hover {
  background-color: rgba(150, 150, 150, 0.4);
}

.list-item>button {
  margin: auto;
}

.delete-on {
  opacity: 1;
}

.delete-off {
  opacity: 0;
}

.list-add:hover {
  background-color: inherit;
}

input {
  margin-right: 23px;
  border-style: none;
  background-color: inherit;
}

input:focus {
  outline: none;
}

a, a:hover {
  color: inherit;
}

.name, .source {
  text-decoration: underline;
}

.signature {
  margin-top: 60px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-size: 10pt;
}

#title {
  margin-top: 20px;
}

.list-item {
}
